body {
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Navigation Bar */

/*
    .navbar{
        text-align: center;
        padding: 10px;
        background-color: tan;

        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;
        border-top-right-radius: 20%;
        border-top-left-radius: 20%;

    }

    .a-nav{
        display: inline-block;
        padding: 10px 15px;
        background-color: #007BFF;
        margin: 20px;
        color: white;
        text-decoration: none;
        border-radius: 100px;
        text-align: center;
    }
        */

    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;


        background-color: tan;

        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;
        border-top-right-radius: 20%;
        border-top-left-radius: 20%;
    }

    .a-nav{
        padding: 10px 10px;
        background-color: #007BFF;
        margin: 20px;
        color: white;
        text-decoration: none;
        border-radius: 100px;
    }

/* Silde Show*/
    #slideshow {
        border: 5px black solid;
        width: 600px;
        height: 600px;
        margin: 50px auto 0 auto;
        overflow: hidden;
        position: relative;
    }

    #slideshow img {
        width: 100%;
        height: 100%;
        display: none;
    }

    #slideshow img.active {
        display: block;
    }



/*Art Display*/

    .gallery {
        width: min (100px, 100%);
        margin: 0 auto;
        columns: 3;

    }
    .gallery img {
        width: 100%;
        border: black solid 2px;
        display: block;
        margin-bottom: 1em;
    }

/* Enhance Image */
    /* Modal overlay */
    .modal {
        display: none;
        position: fixed;
        z-index: 999;
        padding-top: 60px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.9);
    }

    /* Modal image */
    .modal-content {
        margin: auto;
        display: block;
        max-width: 90%;
        max-height: 80%;
    }

    /* Close button */
    #close {
        position: absolute;
        top: 20px;
        right: 40px;
        color: white;
        font-size: 40px;
        cursor: pointer; }

/*About */
.about{
    background-color: aliceblue;
    height: 400px;
    padding: 10px;
}

.about img {
    width: 400px;
    height: auto;
    float: left;
    padding: 10px;
}


/*social*/
.social{
    background-color: white;
    padding: 5px;
    height: 30px;
    width: 150px;
    text-align: center;
    margin: auto;
}

.social a{
    padding: 10px;
    position: relative;

}

.fab:hover{
    opacity: .7;
}

.fa-reddit{
    color: #FF4500;
}

.fa-tumblr{
    color: #36465D;
}

.fa-deviantart{
    color: #05CC47;
}

.fa-envelope{
    color: #D44638
}
